{{! template-lint-disable no-down-event-binding }}
<div
  class={{
    concat
    "modal-dialog "
    "modal-dialog--"
    (if this.isShowing "showing" "hiding")
    (if this.isWarning " modal-dialog--warning")
    (if this.isLoading " modal-dialog--loading")
    (if this.isTooTall " modal-dialog--too-tall")
  }}
  role="dialog"
  tabindex="0"
  aria-modal="true"
  ...attributes
  {{auto-focus}}
  {{this.registerElement}}
  {{this.ready}}
  {{this.hasModal}}
  {{this.bodyScrollLock}}
  {{this.checkIfTooTall}}
  {{on "click" this.handleClick}}
  {{on "keydown" this.handleKeyDown}}
>
  <div class="modal-dialog__box" {{this.registerBoxElement}}>
    {{yield this.api}}
  </div>
</div>