{{! template-lint-disable no-down-event-binding }}
<div
  class={{concat
    "modal-dialog "
    "modal-dialog--"
    (if this.isShowing "showing" "hiding")
    (if this.isWarning " modal-dialog--warning")
    (if this.isLoading " modal-dialog--loading")
    (if this.isTooTall " modal-dialog--too-tall")
  }}
  role="dialog"
  tabindex="0"
  aria-modal="true"
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
  {{on "mousedown" this.handleMouseDown}}
  {{on "mouseup" this.handleMouseUp}}
  {{on "keydown" this.handleKeyDown}}
  {{on "animationend" this.handleAnimationEnd}}
>
  <div class="modal-dialog__box" {{did-insert this.handleInsertBoxElement}}>
    {{yield this.api}}
  </div>
</div>