<div
  class={{
    concat
    "modal-dialog "
    "modal-dialog--"
    (if this.isShowing "showing" "hiding")
    (if this.isWarning " modal-dialog--warning")
    (if this.isLoading " modal-dialog--loading")
    (if this.inViewport " modal-dialog--in-viewport")
  }}
  role="dialog"
  tabindex="0"
  aria-modal="true"
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
  {{on "click" this.handleClick}}
  {{on "keydown" this.handleKeydown}}
>
  <div class="modal-dialog__box" {{did-insert this.handleInsertBoxElement}}>
    {{
      yield
      (hash
        Header=(component "modal-dialog/header")
        Content=(component "modal-dialog/content")
        Footer=(component "modal-dialog/footer")
        close=this.close
        isLoading=this.isLoading
        loadingError=this.loadingError
      )
    }}
  </div>
</div>