{{! template-lint-disable no-pointer-down-event-binding no-invalid-interactive }}
<div
  class="modal-dialog"
  data-showing="{{this.isShowing}}"
  {{on "mousedown" this.handleMouseDown}}
  {{on "mouseup" this.handleMouseUp}}
  {{this.registerElement}}
  ...attributes
>
  <div
    class="modal-dialog__box"
    role="dialog"
    aria-modal="true"
    aria-busy="{{this.isLoading}}"
    data-in-viewport="{{this.isInViewport}}"
    {{this.registerBoxElement}}
    {{this.bodyScrollLock}}
    {{this.inViewport}}
    {{this.trapFocus}}
    {{this.externalFocus}}
    {{this.internalFocus}}
    {{this.escapable}}
  >
    {{yield this.api}}
  </div>
</div>