<ModalDialog
  @escapable={{@escapable}}
  @onClose={{@onClose}}
  @onLoad={{@onLoad}}
  as |modal|
>
  {{#if modal.isLoading}}
    <p>Please wait...</p>
  {{else}}
    <input
      aria-label="Example input"
      type="text"
      placeholder="Example input"
      {{auto-focus}}
    />

    <div class="example-text">
      <LoremIpsum @amount={{1}} />
    </div>

    <button type="button" {{on "click" modal.close}}>
      Close
    </button>
  {{/if}}
</ModalDialog>