<ModalDialog
  @onClose={{@onClose}}
  @onLoad={{@onLoad}}
  @onEscape={{@onEscape}}
  as |modal|
>
  {{#if modal.isLoading}}
    <p>Please wait...</p>
  {{else}}
    <input
      aria-label="Example input"
      type="text"
      placeholder="Example input"
      {{auto-focus}}
    />

    <div class="example-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut est
        eget nulla malesuada pretium id eu ipsum. Nam eu turpis et quam rutrum
        molestie a vitae tortor. Maecenas nec ex est. Nulla quis leo id leo
        commodo sagittis. Nullam diam dolor, semper sed convallis ut, facilisis
        sollicitudin quam. Ut a fermentum turpis, ac gravida elit. Fusce sed leo
        mollis nibh tincidunt ornare. Quisque convallis sodales erat, eget
        ultricies nulla pellentesque ut. Curabitur nec sem lorem.
      </p>

      <p>
        Vivamus malesuada arcu vitae mauris fringilla, sed lacinia nunc porta.
        Nullam id eros vitae arcu blandit tincidunt. Fusce porta sed mi sit amet
        varius. Proin congue accumsan rutrum. Aenean ac cursus ex. Sed sed
        venenatis urna. Aliquam elementum felis et eros egestas pellentesque.
        Nulla vulputate libero non cursus hendrerit.
      </p>

      <p>
        Aenean suscipit rhoncus sapien a blandit. Morbi urna nisi, porttitor sit
        amet lacus vitae, suscipit porta ipsum. Fusce blandit orci nec faucibus
        malesuada. In feugiat libero id nisl egestas, vel cursus nisi pulvinar.
        Pellentesque accumsan libero id nulla tincidunt tristique. Sed eget
        ligula enim. Cras iaculis lacinia ipsum id sodales. In sagittis tempus
        maximus. Duis ultrices urna magna, vitae vestibulum augue eleifend
        vitae.
      </p>

      {{#if this.showMoreContent}}
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut est
          eget nulla malesuada pretium id eu ipsum. Nam eu turpis et quam rutrum
          molestie a vitae tortor. Maecenas nec ex est. Nulla quis leo id leo
          commodo sagittis. Nullam diam dolor, semper sed convallis ut,
          facilisis sollicitudin quam. Ut a fermentum turpis, ac gravida elit.
          Fusce sed leo mollis nibh tincidunt ornare. Quisque convallis sodales
          erat, eget ultricies nulla pellentesque ut. Curabitur nec sem lorem.
        </p>

        <p>
          Vivamus malesuada arcu vitae mauris fringilla, sed lacinia nunc porta.
          Nullam id eros vitae arcu blandit tincidunt. Fusce porta sed mi sit
          amet varius. Proin congue accumsan rutrum. Aenean ac cursus ex. Sed
          sed venenatis urna. Aliquam elementum felis et eros egestas
          pellentesque. Nulla vulputate libero non cursus hendrerit.
        </p>

        <p>
          Aenean suscipit rhoncus sapien a blandit. Morbi urna nisi, porttitor
          sit amet lacus vitae, suscipit porta ipsum. Fusce blandit orci nec
          faucibus malesuada. In feugiat libero id nisl egestas, vel cursus nisi
          pulvinar. Pellentesque accumsan libero id nulla tincidunt tristique.
          Sed eget ligula enim. Cras iaculis lacinia ipsum id sodales. In
          sagittis tempus maximus. Duis ultrices urna magna, vitae vestibulum
          augue eleifend vitae. Cras tristique est quis ipsum ullamcorper
          tincidunt. Phasellus non dolor in urna scelerisque gravida. Ut
          volutpat tortor vitae risus tristique placerat. Vivamus iaculis varius
          nunc, nec tincidunt lorem facilisis non. Maecenas ultricies risus
          urna, finibus luctus erat posuere vitae.
        </p>

        <p>
          Mauris interdum sagittis neque id interdum. Nam eu vulputate felis.
          Praesent nec rutrum dui. Vivamus hendrerit tortor a tortor blandit
          viverra. Aliquam sagittis risus erat, nec imperdiet libero posuere
          eget. Aenean sed hendrerit ligula, eu rhoncus nisi. Aliquam ipsum
          mauris, cursus ut viverra vitae, lacinia accumsan arcu. Integer lorem
          tellus, sagittis ut euismod at, lacinia eu tortor. In sed felis
          pretium, dictum massa eu, tincidunt sapien. Aliquam in ante eu nisl
          sodales consequat quis eu eros. Aenean tempus risus et erat egestas,
          id lobortis massa laoreet.
        </p>

        <p>
          Nunc accumsan non mi laoreet varius. Morbi porttitor dapibus enim, eu
          tincidunt massa gravida sed. Mauris facilisis ipsum mauris. Praesent
          et accumsan leo. Nullam facilisis quam ut nisl finibus, ut dictum
          nulla pulvinar. Vestibulum quam urna, ultricies ac ornare eu, egestas
          sit amet turpis. Nunc dapibus mauris tellus. Etiam tristique convallis
          mi, at pellentesque arcu pretium sed. Pellentesque rutrum ultrices
          laoreet.
        </p>
      {{/if}}
    </div>

    <button
      type="button"
      disabled={{this.showMoreContent}}
      {{on "click" this.addMoreContent}}
    >
      Add more content
    </button>

    <button type="button" {{on "click" modal.close}}>
      Close
    </button>
  {{/if}}

</ModalDialog>